<div>
<h3>Transactions Listing</h3>
<br>



<table>
 <tr>
    <th>Date</th>
    <th>Item</th> 
    <th>Merchant</th>
    <th>Amount (&#163;)</th>
  </tr>

<% summation = 0.00 %>
<% @transactions.each do |transaction| %>  
  <tr>
    <td> <a href="/transactions/<%= transaction.id %>">  <%= transaction.tr_date %></a> </td>
    <td><%= transaction.item.name %> </td> 
    <td><%= transaction.merchant.name %> </td>
    <td><%=  sprintf('%.2f', transaction.amount) %> </td>

  </tr>
 <% summation += transaction.amount %>

<% end %>
</table>
<p>Sum: &#163;  <%= sprintf('%.2f',summation) %></p>
</div>