<div class="tr-table">
<h3>Transactions Listing </h3>
<br>


<div class="date_range">
 <form action="/transactions" method="get">
    <label for="datefrom">Date From:</label>
    <input type="date" name="datefrom" id="datefrom" value="<%= params[:datefrom] %>"  ><br>


    <label for="dateto">Date To:</label>
    <input type="date" name="dateto" id="dateto" value="<%= params[:dateto] %>"  ><br>    
<br>
    <input class='bt' type='submit' value="Sort by Date Range">
  </form>
<br>
</div>




<table class="tr-table-border">
 <tr class="tr-table-border">
    <th>Date</th>
    <th>Item</th> 
    <th>Merchant</th>
    <th>Amount (&#163;)</th>
  </tr>



<% summation = 0.00 %>
<% @transactions.each do |transaction| %>  
  <tr class="tr-table-border">
    <td  class="tr-table-border"> <a href="/transactions/<%= transaction.id %>">  <%= transaction.date_format(transaction.tr_date) %></a> </td>
    <td  class="tr-table-border"><%= transaction.item.name %> </td> 
    <td  class="tr-table-border"><%= transaction.merchant.name %> </td>
    <td  class="tr-table-border"><%=  sprintf('%.2f', transaction.amount) %> </td>

  </tr>
 <% summation += transaction.amount %>


<% end %>
</table>
<p>Sum: &#163;  <%= sprintf('%.2f',summation) %></p>
</div>







<footer>
  
  <br><br
</footer>
