
<h3>Add New Transactions</h3>
<br>
<div class="entry">
  

  <form class="tr_form" action="/transactions" method="post">

   <p> <label for="tr_date">Date:</label>
     <% require 'Date' %>
    <input  type="date" name="tr_date" value="<%= Date.today %>" ></p>

  
     <p><span class="pud">Merchant:</span>
      <select name="merchant_id">
      <% @merchants.each do |merchant| %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
      </select></p>



     <p><span class="pud">Expense:</span>
      <select name="item_id">
      <% @items.each do |item| %>
        <option  value="<%= item.id %>"><%= item.name %></option>
      <% end %>
      </select></p>

    <label for="amount">Amount: &#163;</label>
    <input type="number" step="any" name="amount"><br>
    <br>
    <div class="opt">
      <input class="opt" type='submit' value="Register a transaction">
    </div>
  </form>

</div>